@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container1 {
    font-family:'Roboto';
  }


.titulo-ins {
   
    border: 1rem;
    border-color: aqua;
    border-style: groove;
    top: 0;
    bottom: 0;
}
.titulo {
    margin-left: 1rem;
    font-size: 70px;
    font-family: 'Roboto', cursive; 
}

