@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container1 {
    font-family:'Roboto';
  }
.titulo {   
    margin-left: 5rem;
    font-size: 70px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
