
$brown: #2b2520;
$green: #39dbc2;
$pink: #f41fbf;
$yellow: #ffed28;
$purple: #b028ff;
$blue: #49A7FF;
$red: #ff3838;
$orange: #db7953;


@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');



$extra-large: 110px;   
   
.texto-cortado {
  margin-left: 5rem;
  background-clip: content-box;
  $random-text:'Mercado React';
  position: sticky;
  justify-content: center;
  text-transform: uppercase;
  font-size: $extra-large;
  color: transparent;
  font-weight: 900;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;

  &:after {
    text-align: center;
    content: $random-text;
    position: absolute;
    left: -10px;
    top: -2px;
    color: rgb(255, 115, 0);
    $path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
    -webkit-clip-path: $path;
    clip-path: $path;
  }
  
  &:before {
    text-align: center;
    content: $random-text;
    position: absolute;
    color: rgb(255, 51, 0);
    $path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
    -webkit-clip-path: $path;
    clip-path: $path;
  }
}